<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Monday, March 25</h3>
    <table class="table table-striped">
      <tr>             
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
        <td></td>
      </tr>
      <tr>
        <td>8:30</td>
        <td>Pre-workshop Installation Help</td>
        <td></td>
      </tr>
      <tr>              
        <td>9:00</td>       
        <td>Introduction and Logistics</td>  
        <td>Erin</td>
      </tr>
      <tr>
        <td>9:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python</a></td>
        <td>John Paul</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
        <td></td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python cont.</a></td>
        <td>Nishrin</td>
      </tr>
      <tr>
        <td>noon</td>
        <td>End</td>
        <td></td>
      </tr>
    </table>
  </div>      
  <div class="col-md-6"> <!-- right column -->
    <h3>Tuesday, March 26</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python</a></td>
        <td>John Paul</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Break</td>
        <td></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python cont.</a></td>
        <td>Nishrin</td>
      </tr>
      <tr>
        <td>noon</td>
        <td>End</td>
        <td></td>
      </tr>     
    </table>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Wednesday, March 27</h3>
    <table class="table table-striped">    
      <tr>               
        <td>9:00</td>        
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html">The Unix Shell</a></td>    
        <td>Erin</td>
      </tr>
      <tr>              
        <td>10:15</td>    
        <td>Break</td>   
        <td></td>
      </tr>           
      <tr>
        <td>10:30</td>      
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html">The Unix Shell (cont) </a></td>
        <td>Erin</td>
      </tr>    
      <tr>
        <td>12:00</td>     
        <td>End</td>   
        <td></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Thursday, March 28</h3>
    <table class="table table-striped">
      <tr>               
        <td>9:00</td>        
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>
        <td>Erin</td>
      </tr>
      <tr>              
        <td>10:15</td>    
        <td>Break</td>
        <td></td>
      </tr>
      <tr>           
        <td>10:30</td>      
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (cont)</a></td> 
        <td>Erin</td>
      </tr>
      <tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
